{
    "MobileIdDBName"        : "/home/zj/nb-ulp/exe/dpe/resource/eq5_mobile_id.db",

    "UserDBName"            : "/home/zj/nb-ulp/exe/dpe/resource/eq5_user.db",

    "ImsiServerIp"          : "192.168.64.155",

    "ImsiServerPort"        : 3737,

    "EngineServerIp"        : "192.168.64.155",

    "EngineServerPort"      : 6070,

    "LoggerConfig" : 
    {
        "LogLevel"          : "TRACE",
        "LogType"           : 2,

        "LogToConsole"      : true,

        "LogToFile"         : true,
        "MaxLogFileSize"    : 5242880,
        "LogFilePath"       : "/tmp/dpe.log",

        "LogToSocket"       : false,
        "LogServerIp"       : "192.168.0.125",
        "LogServerPort"     : 5997,

        "LogModuleName"     : false,
        "LogFileName"       : false,
        "LogFuncName"       : true,
        "LogThreadId"       : true,

        "LogAsyncWaitTime"  : 1000,
        "LogBufferingSize"  : 8192
    }
}
